@font-face {
    font-family: 'Bender Black';
    src: url('fonts/Bender-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bender Bold';
    src: url('fonts/Bender-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 25px;
}

body {
    --red: #d24442;
    --gray: #aca49b;
    font-family: 'Bender Bold';
    background-color: #e1d9cc;
    display: flex;
    height: 100vh;
    width: 100vw;
}

body, p {
    margin: 0;
}

main {
    background-color: bisque;
    --pad: 40px;
    height: calc(100vh - var(--pad));
    width: calc(100vw - 7 * var(--pad));
    overflow: hidden;
    margin: auto;
    padding-bottom: 30px;
}

article {
    display: grid;
    grid-template-columns: 
        0 max-content max-content 
        minmax(10px, 1fr) minmax(30px, 1fr)
        max-content 3fr;
    grid-template-rows: 
        15px max-content repeat(2, 1rem) 
        minmax(200px, 500px) 2.15rem 0.35rem 100px;
    letter-spacing: 0.05rem;
    transform: rotate(-13deg);
    background-color: lightblue;
    height: 100%;
}

.lenin {
    display: contents;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.lenin__banner {
    color: white;
    font-size: 1rem;
    grid-row: 2 / 3;
    grid-column: 3;
}

.lenin__name {
    font-family: 'Bender Black';
    color: var(--gray);
    font-size: 2rem;
    grid-row: 3 / 5;
    grid-column: 3;
}

.lenin__photo, .stalin__photo {
    height: calc(100vh / 1.6);
    justify-self: end;
    align-self: end;
}

.lenin__photo {
    grid-row: 5 / 7;
    grid-column: 2 / 5;
    z-index: 2;
}

.stalin__photo {
    grid-row: 5 / 7;
    grid-column: 4 / 7;
}

.lenin span, .socialist, .construction {
    z-index: 3;
}

.socialist, .construction {
    font-size: 1.7rem;
    color: var(--red);
    font-variant: small-caps;
}

.socialist {
    display: flex;
    writing-mode: vertical-lr;
    grid-row: 4 / 7;
    grid-column: 6;
    align-items: baseline;
    justify-content: space-between;
}

.socialist__pre, .socialist__adj__first, .construction__first {
    text-transform: uppercase;
    font-size: 2.5rem;
}

.socialist__pre, .socialist__adj__first {
    transform: scale(1.5, 0.8);
    line-height: 3.5rem;
}

.socialist__adj {
    display: inline-flex;
}

.construction {
    display: flex;
    line-height: 4rem;
    align-items: end;
    grid-column: 2 / 4;
    grid-row: 6 / 8;
    margin-right: 3rem;
}

@-moz-document url-prefix() {
    .construction {
        line-height: 1rem;
    }
}

.construction__first {
    transform: scale(0.8, 1.5);
    line-height: 2.5rem;
}